<h2>Administración de Canchas</h2>
<p>Aquí podrás crear, editar y eliminar canchas.</p>
<app-button
	[button]="this.newButton"
	(buttonClick)="openCreateModal()"
/>

<app-crear-cancha-modal
	[show]="showCreateModal"
	[tipoSuelos]="tipoSuelos"
	(close)="closeCreateModal()"
	(cancel)="onCancelCreateCancha()"
	(save)="onSubmitCreateCancha($event)"
></app-crear-cancha-modal>

<app-editar-cancha-modal
	[show]="this.showEditModal"
	[cancha]="this.canchaSeleccionada"
	(close)="this.onCloseEditModal()"
	(cancel)="this.onCloseEditModal()"
	(save)="this.onSubmitEditCancha($event)"/>

<app-list
	[listId]="this.listId"
	[columns]="this.columns"
	[data]="this.data$"
	[totalItems]="this.totalCount$"
	[totalPages]="this.totalPages$"
	[pageSize]="(this.pageSize$ | async) ?? 10"
	[pageIndex]="(this.pageIndex$ | async) ?? 0"
	(edit)="onEdit($event)"
></app-list>
